<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notation Catalog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Notation Mobile Catalog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B0482CB1B45DA45009C109D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B0482E31B45DA45009C109D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B1B54DE1B6BC31A00E6F8FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B85B31B1B262555004DC3F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B85B3361B262555004DC3F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BBB49331B6677AC0036081B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BBB494F1B6677D90036081B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BBB496A1B6677F20036081B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BBB49CE1B667EE70036081B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BBB49EC1B667FA50036081B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BC65E0D1B4D992C00B11B01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BC65E251B4D992D00B11B01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BC65E381B4D993C00B11B01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BC65E501B4D993C00B11B01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D278F5131A8689AE000C57C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D278F5291A8689AE000C57C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
